@import "tailwindcss";
@import "tw-animate-css";

:root {
  /* Typografi */
  --step--1: clamp(0.8333rem, 0.8101rem + 0.1159vw, 0.9rem);
  --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --step-1: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
  --step-2: clamp(1.44rem, 1.3295rem + 0.5527vw, 1.7578rem);
  --step-3: clamp(1.728rem, 1.5648rem + 0.8161vw, 2.1973rem);
  --step-4: clamp(2.0736rem, 1.8395rem + 1.1704vw, 2.7466rem);
  --step-5: clamp(2.4883rem, 2.1597rem + 1.6433vw, 3.4332rem);

  /* Spacing */
  --space-2xs: clamp(0.5rem, 0.4744rem + 0.1282vw, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.6987rem + 0.2564vw, 0.875rem);
  --space-s: clamp(1rem, 0.9487rem + 0.2564vw, 1.125rem);
  --space-m: clamp(1.5rem, 1.4231rem + 0.3846vw, 1.6875rem);
  --space-l: clamp(2rem, 1.8974rem + 0.5128vw, 2.25rem);
  --space-xl: clamp(3rem, 2.8462rem + 0.7692vw, 3.375rem);
  --space-2xl: clamp(4rem, 3.7949rem + 1.0256vw, 4.5rem);
  --space-3xl: clamp(6rem, 5.6923rem + 1.5385vw, 6.75rem);

  --content-width: 1100px;
  --textcolor: #000000;
  --background: #bab0bc;
}

/* Spacing klasser til tailwind */
.mt-space-2xs {
  margin-top: var(--space-2xs);
}
.mt-space-xs {
  margin-top: var(--space-xs);
}
.mt-space-m {
  margin-top: var(--space-m);
}
.mt-space-l {
  margin-top: var(--space-l);
}
.mt-space-xl {
  margin-top: var(--space-xl);
}
.mt-space-2xl {
  margin-top: var(--space-2xl);
}
.mt-space-3xl {
  margin-top: var(--space-3xl);
}

/* Gap klasser til tailwind */
.gap-space-s {
  gap: var(--space-s);
}
.gap-space-l {
  gap: var(--space-l);
}
.gap-space-xl {
  gap: var(--space-xl);
}

@media (prefers-color-scheme: dark) {
  :root {
    --textcolor: #f6f6f6;
  }
}

body {
  background-color: var(--background);
  color: var(--textcolor);
  font-family: "Montserrat", sans-serif;

  display: grid;
  grid-template-columns: 1fr minmax(0, var(--content-width)) 1fr;
}

main {
  grid-column: 2;
  display: block;
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 640px) {
  main {
    padding-left: 2rem; /* sm:px-8 */
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

h1 {
  font-size: var(--step-5);
  font-weight: 600;
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

p {
  font-size: var(--step-0);
}

/* Tekst størrelse til nav i header til tailwind*/
.desktop_header_font_size {
  font-size: var(--step-0);
  font-weight: 600;
}

.mobile_header_font_size {
  font-size: var(--step-3);
  font-weight: 600;
}

@layer base {
  .rdp-disabled {
    @apply text-gray-500 opacity-50 pointer-events-none;
  }

  .rdp-weekday {
    @apply w-8 h-8 text-sm font-medium flex items-center justify-center;
  }

  .rdp-weekdays {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}
